In [1]:
import duckdb
import pandas as pd

print("DuckDB:", duckdb.__version__)
print("Pandas:", pd.__version__)

DuckDB: 1.4.3
Pandas: 2.3.3

In [2]:
con = duckdb.connect()

# BASE = r"data\all_backends"
# 2) Build paths robustly from the notebook folder

from pathlib import Path
ROOT = Path.cwd()
if ROOT.name == "notebooks":
    ROOT = ROOT.parent

BASE = ROOT / "data" / "all_backends"
con.execute(f"""
CREATE VIEW crossref AS
SELECT * FROM read_parquet(
    '{BASE}\\all_crossref\\**\\*.parquet',
    hive_partitioning=true
);
""")

con.execute(f"""
CREATE VIEW datacite AS
SELECT * FROM read_parquet(
    '{BASE}\\all_datacite\\**\\*.parquet',
    hive_partitioning=true
);
""")

con.execute(f"""
CREATE VIEW openalex AS
SELECT * FROM read_parquet(
    '{BASE}\\all_openalex\\**\\*.parquet',
    hive_partitioning=true
);
""")

In [3]:
con.execute("""
SELECT backend, COUNT(*) AS total, COUNT(record_id) AS with_record_id
FROM (
    SELECT backend, record_id FROM crossref
    UNION ALL
    SELECT backend, record_id FROM datacite
    UNION ALL
    SELECT backend, record_id FROM openalex
)
GROUP BY backend
""").df()

    backend    total  with_record_id
0  crossref  3612833         3612833
1  datacite  3523368         3523368
2  openalex  2366645         2366645

In [4]:
# How many unique records do we have per backend?

In [5]:
con.execute("""
SELECT
    backend,
    COUNT(DISTINCT record_id) AS dedup_records
FROM (
    SELECT backend, record_id FROM crossref
    UNION ALL
    SELECT backend, record_id FROM datacite
    UNION ALL
    SELECT backend, record_id FROM openalex
)
GROUP BY backend
ORDER BY dedup_records DESC
""").df()

    backend  dedup_records
0  datacite        3520391
1  crossref        3187171
2  openalex        1718485

In [6]:
# Deduplicated count across all backends

In [7]:
con.execute("""
SELECT COUNT(DISTINCT record_id) AS total_dedup_records
FROM (
    SELECT record_id FROM crossref
    UNION ALL
    SELECT record_id FROM datacite
    UNION ALL
    SELECT record_id FROM openalex
)
""").df()

   total_dedup_records
0              8426047

In [8]:
# Record count per server (raw)

In [9]:
con.execute("""
SELECT
    backend,
    server_name,
    COUNT(*) AS n_records
FROM (
    SELECT backend, server_name FROM crossref
    UNION ALL
    SELECT backend, server_name FROM datacite
    UNION ALL
    SELECT backend, server_name FROM openalex
)
GROUP BY backend, server_name
ORDER BY backend, n_records DESC
""").df()

      backend                                 server_name  n_records
0    crossref                                        SSRN    1258958
1    crossref                             Research Square     870976
2    crossref                                     bioRxiv     306948
3    crossref                                       eLife     247558
4    crossref                                       Qeios     172316
..        ...                                         ...        ...
109  openalex        National Bureau of Economic Research       1856
110  openalex                                   CogPrints       1537
111  openalex          Electron Colloquium Comput Complex        227
112  openalex  LSE Research Online Documents on Economics        119
113  openalex                    Bepress Legal Repository          6

[114 rows x 3 columns]

In [10]:
# Deduplicated records per server (record_id)

In [11]:
con.execute("""
SELECT
    backend,
    server_name,
    COUNT(DISTINCT record_id) AS dedup_records
FROM (
    SELECT backend, server_name, record_id FROM crossref
    UNION ALL
    SELECT backend, server_name, record_id FROM datacite
    UNION ALL
    SELECT backend, server_name, record_id FROM openalex
)
GROUP BY backend, server_name
ORDER BY dedup_records DESC
""").df()

      backend                          server_name  dedup_records
0    datacite                                arXiv        2920797
1    crossref                                 SSRN        1258958
2    openalex                                  HAL        1056424
3    crossref                      Research Square         450818
4    openalex  RePEc: Research Papers in Economics         389398
..        ...                                  ...            ...
109  crossref                                EmeRI              8
110  crossref                            Therapoid              7
111  crossref                       NewAddictionsX              7
112  openalex             Bepress Legal Repository              6
113  crossref                           searchRxiv              2

[114 rows x 3 columns]

In [13]:
df = con.execute("""
SELECT
    backend,
    server_name,
    COUNT(DISTINCT record_id) AS dedup_records
FROM (
    SELECT backend, server_name, record_id FROM crossref
    UNION ALL
    SELECT backend, server_name, record_id FROM datacite
    UNION ALL
    SELECT backend, server_name, record_id FROM openalex
)
GROUP BY backend, server_name
ORDER BY dedup_records DESC
""").df()

df.to_csv("outputs/dedup_counts_by_server_record_id.csv", index=False)

In [14]:
df.head(60)

     backend                                        server_name  dedup_records
0   datacite                                              arXiv        2920797
1   crossref                                               SSRN        1258958
2   openalex                                                HAL        1056424
3   crossref                                    Research Square         450818
4   openalex                RePEc: Research Papers in Economics         389398
5   crossref                                            bioRxiv         306948
6   crossref                                              eLife         247558
7   datacite                                      AgEcon Search         188173
8   datacite                                       ResearchGate         181231
9   crossref                                              Qeios         172316
10  datacite                                             Zenodo         166786
11  crossref                                      Preprints.org         115815
12  crossref                             Open Science Framework         103652
13  crossref                                            medRxiv          75743
14  openalex                                 EconStor Preprints          71761
15  openalex                      Munich Personal RePEc Archive          68692
16  crossref                                      Authorea Inc.          65450
17  crossref                                          EGUsphere          60396
18  crossref                                           PsyArXiv          56866
19  crossref                                           ChemRxiv          46475
20  crossref                                     JMIR Preprints          37631
21  datacite                            Humanities Commons CORE          29584
22  crossref                                           TechRxiv          29418
23  openalex              Social Science Open Access Repository          27201
24  openalex                                              viXra          25570
25  crossref               Earth and Space Science Open Archive          22932
26  crossref                                           SocArXiv          21541
27  crossref                                           INA-Rxiv          17837
28  crossref                                      F1000Research          16873
29  openalex                             Open Science Framework          15953
30  datacite                             Open Science Framework          15829
31  openalex                                    Organic Eprints          13983
32  openalex                                         DSpace@MIT          12661
33  openalex                     IACR Cryptology ePrint Archive          11904
34  openalex  Digital Access to Scholarship at Harvard (DASH...           9703
35  datacite                                            ART-Dok           9653
36  openalex                                   E-LIS Repository           9128
37  datacite                                      PropylaeumDok           6750
38  crossref                                         EarthArXiv           6537
39  crossref                                    PeerJ Preprints           6446
40  crossref                                  Nature Precedings           5210
41  crossref                              ScienceOpen Preprints           5087
42  crossref                                            engrXiv           4929
43  crossref                             Wellcome Open Research           4727
44  crossref                                            Advance           4401
45  crossref                                   SciELO Preprints           4141
46  crossref                                     Thesis Commons           3959
47  crossref                               UCL Open Environment           3474
48  crossref                              Cambridge Open Engage           3090
49  crossref                                         EcoEvoRxiv           2886
50  crossref                                           CrimRxiv           2838
51  crossref                                            EdArXiv           2547
52  openalex                                    PhilSci-Archive           2362
53  crossref                               Open Research Europe           1877
54  openalex               National Bureau of Economic Research           1856
55  crossref                                        Law Archive           1808
56  crossref                                        ResearchHub           1636
57  openalex                                          CogPrints           1537
58  crossref                                     APSA Preprints           1470
59  crossref                                       PREPRINTS.RU           1415

In [15]:
df.tail(55)

      backend                                 server_name  dedup_records
59   crossref                                PREPRINTS.RU           1415
60   crossref                 Keldysh Institute Preprints           1258
61   crossref                           HRB Open Research           1012
62   datacite                        CERN document server            973
63   crossref                             ARPHA Preprints            890
64   crossref                                   MetaArXiv            880
65   crossref                                   SportRxiv            878
66   crossref                         Gates Open Research            863
67   crossref                                    AgriRxiv            818
68   crossref                          Beilstein Archives            697
69   crossref                          Covid-19 Preprints            647
70   crossref                          EasyChair preprint            620
71   crossref                                      MarXiv            508
72   crossref                                     VeriXiv            504
73   crossref                                    Arabixiv            502
74   crossref                                  AfricArXiv            501
75   datacite                        CrossAsia-Repository            479
76   crossref                     LIS Scholarship Archive            397
77   crossref                                    MindRxiv            335
78   crossref                                    ECSarXiv            314
79   crossref                                   MediArXiv            309
80   crossref                        Open Research Africa            288
81   crossref                                   PaleorXiv            287
82   crossref                                   prepare@u            227
83   openalex          Electron Colloquium Comput Complex            227
84   crossref                                   EnerarXiv            204
85   crossref                                     Frenxiv            179
86   crossref                                Encyclopedia            166
87   crossref                                   BodoArXiv            165
88   crossref                              AIJR Preprints            143
89   crossref                                   IndiaRxiv            142
90   crossref                                 BioHackrXiv            139
91   crossref                                   UnisaRxiv            126
92   crossref                                    LatArXiv            125
93   openalex  LSE Research Online Documents on Economics            119
94   crossref                                SAE Mobilus®            105
95   crossref                         Sciencepaper Online             99
96   datacite                        Oroboros Instruments             95
97   crossref                                    NutriXiv             94
98   crossref                               FocUS Archive             83
99   crossref                                    PoolText             79
100  crossref                  HANS Publication PrePrints             75
101  crossref                     WikiJournal of Medicine             63
102  crossref                      WikiJournal of Science             45
103  datacite               ELPUB (Universitat Wuppertal)             41
104  crossref                          AMRC Open Research             39
105  crossref                                         CoP             30
106  crossref                           MNI Open Research             20
107  crossref                   WikiJournal of Humanities             10
108  crossref                                       EmeRI              8
109  crossref                Prepublicaciones OpenCiencia              8
110  crossref                                   Therapoid              7
111  crossref                              NewAddictionsX              7
112  openalex                    Bepress Legal Repository              6
113  crossref                                  searchRxiv              2